h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 0px;
    display: inline;
}

select {
    margin-top: 5px;
    display: inline-block;
}

.container {
    display: flex;
    flex-direction: row;
}

.item {
    padding: 4px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slidecontainer {
    display: inline-block;
    margin: 0;
}

.slidecontent {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.slider {
    margin: 0px;
    width: 400px;
}

.name {
    padding-right: 2px;
    margin-left: auto;
}